.vm-footer-layout {
  display: flex;
  align-items: baseline;
  padding: 20px;
  box-sizing: border-box;
}

.vm-footer-ticker {
  flex: auto;
  min-width: 0;

  background-color: #f0f0f0;
  padding: 10px;
}

.vm-footer-status {
  flex: none;

  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: right;
}