.event-bubble-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  border-bottom: #333 solid 1px;
  background-color: #f0f0f0;
}

.index {
  flex: none;
  text-align: start;
  opacity: 0.5;

  width: 36px;
  padding-left: 4px;
}

.tag {
  flex: none;
  text-align: center;

  margin-left: 4px;

  background-color: #333;
  color: #fff;
}

.info {
  flex: auto;
}
.info .grouped-badge {
  opacity: 0.5;
}
.info span {
  text-align: start;

  padding-left: 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
